body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3;
}

#container {
    background-color: black;
    width: 500px;
    height: 350px;
    margin: auto;
    position: relative;
    padding: 10px;
}

#background {
    background-color: black;
    width: 520px;
    height: 370px;
    left: 0px;
    top: 0px;
    margin: auto;
    position: absolute;
    display: none;
    background-size: cover;
}

#text-wrapper {
    width: auto;
    height: 100px;
    border-radius: 3px;
    border: 1px solid #ffffff;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

#name-container {
    color: #ffffff;
    border-radius: 3px;
    text-align: center;
    width: 70px;
    position: absolute;
    top: -15px;
}

#item-pic {
    border-radius: 3px;
    width: 100px;
    height: 100px;
    position: absolute;
    border: 1px solid #ffffff;
    display: none;
    background-size: cover;
    bottom: 175px;
    right: 208px;
}

.name-right {
    right: 20px;
    background-color: black;
    border: 1px solid #ffffff;
}

.name-left {
    left: 20px;
    background-color: black;
    border: 1px solid #ffffff;
}

p {
    color: #ffffff;
}

#arrow {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 12px solid #ffffff;
    border-radius: 1px;
}

#avatar-pic-right {
    width: 150px;
    height: 150px;
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: 3px;
    right: 15px;
    bottom: 150px;
    background-size: cover;
    display: none;
}

#avatar-pic-left {
    width: 150px;
    height: 150px;
    position: absolute;
    border: 1px solid #ffffff;
    border-radius: 3px;
    left: 15px;
    bottom: 150px;
    background-size: cover;
    display: none;
}

.darken {
    background-color: black;
    opacity: 0.4;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}